/AlreadyFriendsException.class
/CantCommentPostException.class
/InvalidCommentStanceException.class
/InvalidFanaticismListException.class
/InvalidHonestyForPostException.class
/InvalidTendencyForFanaticismException.class
/NoAccessToPostException.class
/NoLiesException.class
/NoPostsOrCommentsException.class
/NonexistantFanaticismException.class
/NonexistantTopicException.class
/NotAllowedForUserException.class
/PostCommentsListEmptyException.class
/ResponsiveException.class
/UnknownKindException.class
/UserAlreadyExistsException.class
/UserDoNotExistsException.class
/UserDontHaveThatPost.class
/UserHasNoCommentsException.class
/UserHasNoFriendsException.class
/UserPostListEmptyException.class
/UsersCannotBeTheSameException.class
/UsersListEmptyException.class
/WrongHashtagListException.class
/WrongNumberToListPostsException.class
/ZeroPostsOnSystemException.class
